---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import MainContainer from "@components/MainContainer.astro";
import Btn from "@components/Btn.astro";

import HeroPhoto from "@assets/images/man-throwing-a-stone.jpg";
import { Content as AboutUs } from "@content/aboutUs.md"
import { Content as SignUp } from "@content/signUp.md"
import QuoteCard from "@components/QuoteCard.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

import {quotes} from "../data/quotes"

---

<Layout title="Astro Starter">

  <Header>

  </Header>

  <section class="hero">
    <Image src={HeroPhoto} alt=" "/>
    <p class="caption">Photo by Viktor Hanacek from picjumbo.com</p>
  </section>


  <MainContainer>
    <section id="about-us" class="about-us">
      <AboutUs>
      </AboutUs>
    </section>

    <section id="featured" class="featured">
      <h2>Featured</h2>
      <section class="masonry">
        {quotes.map((item)=>{
          return (<QuoteCard linkImage={item.image} quote={item.quote} Content={item.Content}></QuoteCard>);
        })}
      </section>
    </section>

    <section id="sign-up" class="sign-up">
      <SignUp>
      </SignUp>
      <div class="signUpBtn">
        <Btn href="/sign-up" padding="1rem 2rem" radiusTop="2rem" radiusBottom="2rem" radiusRight="2rem" radiusLeft="2rem">Sign Up</Btn>
      </div>
    </section>

  </MainContainer>

  <Footer>

  </Footer>

</Layout>

<style>
  h2 {
    margin-bottom: .5rem;
  }

  section{
    margin-bottom: 2rem;
  }

  section .masonry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1rem;
    height:fit-content;
    justify-items: center;
  }

  section.sign-up {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
  }

  .signUpBtn{
    align-self: center;
  }

  .hero{
    display: flex;
    flex-direction: column;
  }

  section.hero img {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: clamp(40vw,1em,36vw);
  }

  .caption{
    color: #8e8e8e;
    font-size: .75rem;
    align-self: flex-end;
  }
  
    @media (max-width:1010px) {
      section .masonry {
        grid-template-columns: 1fr;

      }
    }


</style>